
<div id="top"><h2>Loading...</h2></div>
<div id="mid"></div>
<div id="status"></div>
<div id ="bottom"><input id="checkLocate" type="button" value="Update Location" onclick="getLocation();" /></div>
