<div id = "top"><h1>Untited Game Thing.</h1><div>
<div id ="top-status"><h2>Waiting for location..</h2></div>
<div id="list"></div>
<p>
<div id="location">Waiting for location...</div>
<div id="status"></div>